@page "/"

<PageTitle>Just Stats</PageTitle>

<h1>Welcome in Just Stats</h1>

Use side bar to navigate to your favourite content creator!
<br />
<small>Want to be featured here? Contact Michal on DeBank!</small>
